@media screen and (max-width: 900px) {
  .nav {
    display: none;

    width: 100vw;
    height: 90vw;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .main .icon {
    display: none;

    width: 10vw;
  }

 .main .menu {
    display: block;
  }
}